@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200&family=Lato:wght@900&family=Noto+Sans+Shavian&display=swap');

body {
    background-color: rgb(227, 234, 236);
    font-family: 'Bricolage Grotesque', sans-serif;
    font-family: 'Lato', sans-serif;
    // font-family: 'Noto Sans Shavian', sans-serif;
}

h1 {
    margin: 0;
}

body.dark {
    background-color: #000;
    transition: all 0.3s ease-in;

    .p {
        color: #fff;
    }

    .h1 {
        color: #ffffff;
        transition: all 0.3s ease;
    }

    .h5 {
        color: #fff;
        transition: all 0.3s ease-in;
    }

    ul {
        li {
            color: white;
        }
    }

    i {
        color: #fff;
    }
}

button {
    padding-inline: 2rem;
    padding-block: 1rem;
}

.welcome-page_inner {
    &_header_inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &_right_inner {
            padding-inline: 2rem;

            h1 {
                color: black;
                font-size: 3rem;
                font-weight: 900;
                transition: all 0.3s ease-in;

                span {
                    color: yellowgreen;
                }
            }


        }

        &_left_inner_switch-mode {
            .switch {
                position: relative;
                width: 70px;
                height: 30px;
                border-radius: 100px;
                background-color: black;
                cursor: pointer;
            }

            .switch::before {
                content: "";
                position: absolute;
                background-color: white;
                height: 25px;
                width: 25px;
                border-radius: 50%;
                top: 54%;
                left: 4px;
                transform: translateY(-55%);
                transition: all 0.3s ease-in;
            }

            .switch.active::before {
                background-color: #000;
                transition: all 0.3s ease-in;
                left: calc(100% - 19px - 8px)
            }

            .switch.active {
                background-color: white;
            }
        }

    }

    &_section {
        text-align: left;
        padding-inline: 2rem;
        padding-top: 4rem;
        &-one {

            &.de-active {
                display: none;
            }


            &_inner {
                display: grid;
                grid-template-columns: 2fr 1fr 1fr;
                align-items: center;

                h5 {
                    margin: 0;
                    padding: 0;
                    color: black;
                    font-size: 3rem;
                    font-weight: 500;
                    transition: all 0.3s ease-in;

                    span {
                        margin: 0;
                        padding: 0;
                    }
                }


                p {
                    padding: 0;
                    font-size: 1.3rem;
                    font-style: italic;
                    font-weight: 900;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    transition: all 0.3s ease;
                }

                p:hover {
                    color: yellowgreen;
                    transition: all 0.3s ease;
                }


                &_text_social-media-hdl {
                    display: flex;
                    align-items: center;
                    margin-block-start: 2rem;

                    div {
                        margin-inline-end: 4rem;
                        cursor: pointer;
                        i {
                            font-size: 2.5rem;
                            font-weight: 0;
                        }
                    }
                }

                &_pdp {
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                }
            }
            i {
                cursor: pointer;
            }
        }

        &-two {
            display: none;
            position: relative;
            height: 0;
            transition: all 0.5s ease;

            &.active {
                display: block;
                position: relative;
                height: 100%;
                transition: all 0.5s ease;
            }

            &_projects_inner {
                border: 1px solid;
                padding: 1rem;

                &_header-box {
                    border: 1px solid;
                    padding: 1rem;

                    ul {
                        border: 1px solid;
                        padding: 1rem;
                        display: grid;
                        grid-template-columns: 1fr 1fr;

                        li {
                            list-style: none;
                        }
                    }
                }
            }

            &_buttons {
                display: flex;
                justify-content: space-between;
                align-items: center;
                i{
                cursor: pointer;
                }
            }
        }

    }
}