.welcome-page {
    &_inner {
        &_header {
            &_inner {
                display: grid;
                grid-template-columns: 1fr 1fr;
                align-items: center;
                // gap: 60%;
                justify-items: center;

                &_left {
                    &_inner {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        gap: 10%;

                        &_switch-mode {
                            #light-mode-switch {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}